<div class="hero">
	<br />
	<div class="frosty col-10 offset-1 text-center">
		<br />
		<h1>Learn how to rock climb</h1>
		<br />
		<h2>Apprentice with the guidance of a Mentor</h2>
		<br />
		<%= link_to 'Learn More', "#", class: 'btn btn-success' %>
		<br /><br />
	</div>
</div>