<!-- Large Feature Box -->
<div class="hero">
	<br />
	<div class="frosty col-10 offset-1 text-center">
		<br />
		<h1>Learn how to rock climb</h1>
		<br />
		<h2>Apprentice with the guidance of an experienced mentor</h2>
		<br />
		<%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
		<br /><br />
	</div>
</div>
<br />

	<!-- 3 Feature Box -->
	<div class="row feature text-center">
		<!-- Left Box -->
		<div class="col-12 col-sm">
			<h3>Amazing Courses</h3>
			<br />
	    <p>Choose from a number of courses offered by local teachers</p>
		</div>
		<!-- Center Box -->
		<div class="col-12 col-sm">
			<h3>Learn At Your Own Pace</h3>
	    <br />
	    <p>Access an archive of lessons or step one-on-one lessons</p>
		</div>
		<!-- Right Box -->
		<div class="col-12 col-sm">
			<h3>Join our Community</h3>
	    <br />
	    <p>Learn from a community of like-minded individuals</p>
	</div>
</div>