<br />

<div class="booyah-box col-10 offset-1">
	<h1 class="text-center">Learn something new today</h1>
	<hr />

	<% @courses.each do |course| %>
		<h2 class="text-center">
			<%= link_to course.title, course_path(course) %>
		</h2>
		<br />

		<% if course.image_url.present? %>
    	<%= image_tag course.image_url, class: 'img-fluid img-thumbnail' %>
		<% end %>

		<br><br>
		<div class="row">
			<div class="col-sm-8 col-12">
				<% course.description %>
			</div>
			<br>
			<div class="col-sm-4 col-12 text-center">
				<%= link_to 'More info...', course_path(course), class: 'btn btn-info btn-lg' %>
			</div>
		</div>
		<br class="clr" /><br>
		<hr>
	<% end %>
</div>